{% extends "base.html" %} {% load static %} {% block title %}SMK Telkom
Purwokerto{% endblock %} {% block content %}
<section>
  <img
    style="width: 100%; margin-top: 60px"
    src="https://placehold.co/800x300"
    alt=""
  />
</section>

<div class="row">
  <div class="col-sm-9">
    <section class="mx-5">
      <div class="container pt-5 pb-5 j1 "
        style="max-width: 800px; margin: auto">
        {% if page_obj %}
        {% for post in page_obj %}
        <a href="{% url 'beritadetail' post.id %}" class="text-decoration-none text-dark">
          <h4 class="text-center pt-5">{{ post.postname }}</h4>
          <p class="text-center text-muted mb-2"><em>{{ post.created }}</em></p>
          <div class="row border-bottom border-dark">
            <div class="col-md-6 mb-4">
              <p class="mt-4">
                {{ post.content|truncatewords:50|safe }}
              </p>
              {% if post.link %}
                <div class="row mt-5">
                  <div class="container-fluid">
                    <iframe
                      style="border-radius: 10px"
                      width="100%"
                      height="315"
                      src="https://www.youtube.com/watch?v=cpxW3ks1COU"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="col-md-6">
              <img
                style="width: 100%; max-height: 200px; object-fit: cover; border-radius: 10px;"
                src="{{ media_url }}{{ post.image }}"
                alt="{{ post.postname }}"
              />
              <p class="text-center text-muted mt-5">
                <em>End : {{ post.time }} | xBy: John Doe</em>
              </p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </section>
    
    <!-- Pagination Controls -->
      <div class="container">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
    
                <!-- Paginate through individual page numbers -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
    
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
  
    {% else %}
      <p>No recent posts available.</p>
    {% endif %}
</div>

  <div class="col-sm-3 pr">
    <div class="row pt-4">
      <h2>Berita Terbaru</h2>
    </div>
    <div class="row pt-4">
      {% if penting_posts %} {% for post in penting_posts %}
      <div class="card mt-5" style="width: 18rem">
        <a href="{% url 'beritadetail' post.id %}" class="text-decoration-none text-dark">
            <img style="width: 100%; max-height: 200px;object-fit: cover; border-radius: 10px;"
            class="card-img-top"
            src="{{media_url}}{{post.image}}"
            alt="{{ post.postname }}"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ post.postname }}</h5>
          <p class="card-text">
            {{ post.content|truncatewords:10|safe}}
          </p>
        </div>
      </div>
      
      {% endfor %} {% else %}
      <p>Tidak ada pengumuman penting</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
